/* Garante que o padding não aumente o tamanho dos elementos */
*, *::before, *::after {
    box-sizing: border-box;
}


body{
    color:rgb(0, 0, 0);
    background-color: rgb(250, 253, 252);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0 auto; /* centraliza horizontalmente */
  padding: 0;
}


a{
  color: rgb(117, 157, 192);
  text-decoration:none;
  margin-right: 0;
  font-size: 20px;
  padding: 10px;
}

/* fazendo o link parcecer mais */
a:hover {
  text-decoration: underline;
  animation: underline-animation 0.3s forwards;

}

/*cabeçalho*/
header {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 50px 0 0 0;
}

/*container principal do nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    width: min(86%, 1180px); /* barra responsiva que não ocupa 100% */
    gap: 10px; /* espaco entre menu qnd quebra*/
    gap: clamp (1rem, 3vw, 3rem); /* espaco entre menu qnd quebra*/
    padding: 7px 60px; /* Respiro nas laterais do celular */
}

/* Estilo do Logo (Imagem e tulo) */
.logo {
    display: flex; 
    align-items: center;
    gap: 10px;
    margin-right: 1px;
}

.logo h1{
  font-size: clamp(1.2rem, 2vw, 2rem);
  color: rgb(0, 0, 0);
  margin: 0;
}

.ods-img{
  width: clamp(50px, 5vw, 50px);
  height: auto;
}

.nav-links {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 110px;              
    list-style: none;
    padding: 0;
    margin: 0; 
}

.nav-spacer {
    /*Garante que o spacer ocupe o mesmo espaço visual do logo */
    min-width: 266.69px; 
    visibility: hidden;
    height: 1px;
    /* Opcional: para garantir que ele não seja visível */
    pointer-events: none; 
    flex-shrink: 0;
}



.barra2 {
  font-size: 11px;
  justify-content: center;
  max-width: 20%;   
  border: 0px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra leve */
  border-radius: 50px;
  margin: 80px auto;
  background-color:rgb(231, 241, 245);
  color: rgb(49, 43, 36);  
  text-align: center;
}

.logo-heart{
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.heart-img {
  width: 20px;
  height: 20px;
}

.sobre{
  
  text-align: center; /* centraliza o texto da seção */
 
}

.sobre h1{
  font-size: 80px;
}


.texto-sobre{

max-width: 60%;
margin: 20px auto;    
font-size: 20px;
line-height: 1.6;
text-align: center;
}


/* ===== CONHEÇA ODS========*/
.conheca-ods{  

  justify-content: center;
  display: flex;
  font-size: 10px;
  width: 20%;   
  border: 0px solid #ccc; 
  box-shadow: 0 4px 8px rgba(110, 142, 178, 0.1); /* sombra leve */
  border-radius: 50px;
  margin: 85px auto;
  background-color:rgb(234, 238, 238);
  color: rgb(80, 88, 126);  
}

/* ======= PAINEL ODS ======= */

/* container principal do painel */
.painel-ods {
  width: 80%;
  padding: 60px 20px;


  box-decoration-break: inherit;
  margin: 20px auto;
  border-radius:30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra leve */
  display: flex;


}

/* grade de cards */
.ods-container {
  display: grid;
  width: 100%;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}


/* cada card que pode virar */
.card-flip-container {
  width: 100%;
  max-width: 160px;
  aspect-ratio: 1 / 1; /* mantém o quadrado */
  perspective: 1000px;
  cursor: pointer;
}

/* animando o hover*/

.card-flip-container:hover .card {
    /* Efeito borda com o box-shadow */
    box-shadow: 0 0 0 4px #a6d7ec, /* anel de cor primária */
    0 4px 8px rgba(0, 0, 0, 0.2); /* sombra original */

    transform: scale(1.06);
}
/* o card em si */


.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 15px;
}


/* quando clicado */
.card-flip-container.flipped .card {
  transform: rotateY(180deg);

}

/* frente e verso */
.front, 
.back {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;


  border-radius: 15px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

/* frente (imagem) */
.front {
  background-color: #fff;

  background-position: center;
  background-repeat: no-repeat ;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 !important;
  width: 100%;
  height: 100%;
}

.front img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /*faz a imagem preencher todo o espaço */
  border-radius: 10px;  /*segue o formato do card*/
  object-fit: contain;
}

/* verso (texto) */
.back {
  background-color: rgb(117, 157, 192);
  color: #fff;
  transform: rotateY(180deg);
  flex-direction: column;
}

/* Aplica box-sizing APENAS aos elementos do card para manter o tamanho exato */
.card, .front, .back {
  box-sizing: border-box;
}


.back h3 {
  margin-bottom: 1px;
  font-size: 14px;
}

.back p {
  font-size: 14px;
  line-height: 1.%;
  line-break: auto;
}

/*=== valores===*/

.title-conclusion{
  text-align: center;
  margin: 70px auto; 
}

.title p{
  font-size: 20px;
  line-height: 1.6;
  color: #555;
}

.descripition-desenvM {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  /* Espaçamento em cima e embaixo*/
  margin: 70px auto; 
  /* Limita a largura*/
  max-width: 1200px;
}

.logo-visao:hover{
  transform: scale(1.03);
  
}

.logo-missao:hover{
  transform: scale(1.03);
}


.logo-missao, 
.logo-visao {
    /*largura máxima de cada bloco */
    max-width: 45%; 
    
    /*padding para afasta o conteúdo das bordas */
    padding: 30px; 
    
    /* Remove a margem desnecessária de '80px auto' que pode causar desalinhamento */
    margin: 0; 

    /* Estilo de fundo e bordas */
    background-color: rgb(230, 240, 255); /* Azul claro suave */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); /* Sombra sutil */
    
    /* Alinhamento de Texto e Flex */
    text-align: left; /* Alinha o texto à esquerda */
    color: rgb(49, 43, 36); 
    
}


.logo-missao h1, .logo-visao h1 {
  font-size: 20px;
  margin-top: 5px; /* Espaço entre o ícone e o título */
  cursor: pointer;
  position: relative;
  flex-wrap: wrap;
  display: flex;

}

.logo-missao p, .logo-visao p {
  font-size: 16px;
  line-height: 1.6;
  color: #555; /* Texto um pouco mais claro */
  text-align: justify;

}

.light-img {
  /* Faz os ícones ficarem no topo, usando display flex para alinhar o ícone e o título */
  width: 50px; 
  height: 40px;
  margin-right: 8px;
  float: left; /* Faz o ícone flutuar ao lado do título */
}

.mission-img{
  margin-top: 6px;
  margin-right: 20px;
  float:left; 
  width: 33px;
  height: 30px;
  float: left; /* Faz o ícone flutuar ao lado do título */
}



footer{
  background-color:rgb(11, 94, 135); /* Fundo escuro */
  color: #f0f0f0; /* Cor do texto claro */
  padding: 40px 0px 0;  
  border-radius: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Container que alinha as colunas */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0 20px 30px;
  border-bottom: 1px solid #444;
  align-items: flex-start;
  padding: 0 40px 30px; /* Adiciona padding lateral de 40px */
}



.logo-section {
  width: 35%; /* Mais espaço para o logo */
  color:#ffffff;
}

.logo-section h3 , .navegacao h3 , .contato h3 {
  margin-bottom: 20px;
  margin-top: 5;
  color: #fff;
  font-weight: bold;

}

.footer-col h3 {
  font-size: 1.1rem;
  margin-top: 0;
  color: #fff;
  font-weight: bold;
}


.navegacao ul {
  list-style: none;
  padding: 0;
  margin: 0;
 justify-content: center;
}

.navegacao li {
  line-height: 1.0;
  margin:0;
  padding: 0;
  display: block;
}

.navegacao a{
  font-size: 15px;
  color: #f0f0f0;
  text-decoration: none;
  display: block; /* Garante que os links fiquem um abaixo do outro */
  width: auto;
  
}

.contatos .contact-item {
    line-height: 1.6;
    display: block; /* Garante que os itens de contato fiquem um abaixo do outro */
    font-size: 15px;
    color: #f0f0f0;
}
.contatos .contact-item span {
    display: block;
}


/* Direitos Autorais */
.footer-bottom {
  text-align: center;
  padding: 20px 0;
  font-size: 0.85rem;
  color: #ede1e1;
}

/* Estilo do Logo (Para alinhamento com o título) */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.logo-text {
    font-size: 30px;
    height: 30 ;
}

.heart-footer{
  width: 30px;
  height: 30px;
}

.logo-section,
.navegacao,
.contatos {
  width: 0.%;  /* pc */
}

@media (max-width: 768px) {
  .logo-section,
  .navegacao,
  .contatos {
    width: 100%;       /* 👉 vira tudo coluna única */
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-logo {
    justify-content: center;
  }

  /* ===== CONHEÇA ODS========*/
.conheca-ods{  

  justify-content: center;
  display: flex;
  font-size: 10px;
  width: 70%;   
}
}

/* Mobile */
@media (max-width: 900px) {

  /* quando clicado */
.card-flip-container.flipped .card {
  transform: rotateY(180deg);

}
  .ods-container {
    grid-template-columns: repeat(2, 2fr); /* QUEBRA em 2 colunas */
  }

  .back p {
  font-size: 8px;
  width: 100%;
  text-align-last: auto;
}

.back h3 {
  margin-bottom: 1px;
  font-size: 8px;
}

.texto-sobre{

max-width: 100%;
margin: 20px auto;    
font-size: 20px;
line-height: 1.%;
text-align: center;
}

.sobre h1{
  font-size: 50px;
}


.logo-missao p, .logo-visao p {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  line-height: 100%;
  color: #555; /* Texto um pouco mais claro */
  text-align:justify;

}
 .descripition-desenvM {
    flex-direction: column;
    align-items: center; /* opcional, deixa centralizado */
  }

.logo-missao, 
.logo-visao {
    /*largura máxima de cada bloco */
    max-width: 100%; 
    
    /*padding para afasta o conteúdo das bordas */
    padding: 30px; 
    
    /* Remove a margem desnecessária de '80px auto' que pode causar desalinhamento */
    margin: 0; 

}


.barra2 {
  font-size: 11px;
  justify-content: center;
  max-width:50%;   
  border: 0px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra leve */
  border-radius: 50px;
  margin: 80px auto;
  background-color:rgb(141, 188, 200);
  color: rgb(49, 43, 36);  
  text-align: center;
}

/*container principal do nav */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 15px;              
    list-style: none;
    padding: 0;
    margin: 0; 
}
.logo {
    display: flex; 
    align-items: center;
    gap: 10px;
    margin-right: 12px;
}

}